<div class="ui-accordion" id="menu-shape-dashboard">
  <h3 class="menu_item menu_item ui-accordion-header ui-helper-reset ui-state-default ui-corner-all">
    <span class="ui-icon ui-icon-triangle-1-e"></span>
    <a href="/shape/dashboard" title="Dashboard" class="shape-dashboard-link">Dashboard</a>
  </h3>
</div>

<div id="main_menu" class="main_menu">
  <!-- content -->
  <h3 class='menu_item' id="menu-shape-pages-title"><a href="#menu-shape-pages">Pages</a></h3>
  <div id="menu-shape-pages">
    <?=partial("shape/pages/_menu")?>
  </div>
  
  <h3 class='menu_item' id="menu-shape-files-title"><a href="#menu-shape-files">Files</a></h3>
  <div id="menu-shape-files">
    <?=partial("shape/files/_menu")?>
  </div>
  
  <h3 class='menu_item' id="menu-shape-users-title"><a href="#menu-shape-users">Users</a></h3>
  <div id="menu-shape-users">
    <?=partial("shape/users/_menu")?>
  </div>
  
</div>

<div class="ui-accordion" id="menu-shape-dashboard-logout">
  <h3 class="menu_item menu_item ui-accordion-header ui-helper-reset ui-state-default ui-corner-all">
    <span class="ui-icon ui-icon-triangle-1-e"></span>
    <a href="/shape/dashboard/logout" title="Dashboard" class="shape-dashboard-link">Logout</a>
  </h3>
</div>