<div class="ui-accordion" id="menu-shape-dashboard">
  <h3 class="menu_item menu_item ui-accordion-header ui-helper-reset ui-state-default ui-corner-all">
    <span class="ui-icon ui-icon-triangle-1-e"></span>
    <a href="/shape/dashboard" title="Dashboard" class="shape-dashboard-link">Dashboard</a>
  </h3>
</div>

<div id="main_menu" class="main_menu">
  <!-- content -->
  <h3 class='menu_item'><a href="#menu-shape-pages">Pages</a></h3>
  <div id="menu-shape-pages">
    <?=partial("shape/page/_menu")?>
  </div>
  
  <h3 class='menu_item'><a href="#menu-shape-files">Files</a></h3>
  <div id="menu-shape-files">
  
  </div>
  
  <h3 class='menu_item'><a href="#menu-shape-users">Users</a></h3>
  <div id="menu-shape-users">
  
  </div>
  
</div>